<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055594561771-p5il032m4ab84ra8tfur4f0unp25ootm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055594561771-p5il032m4ab84ra8tfur4f0unp25ootm</string>
	<key>API_KEY</key>
	<string>AIzaSyAOls4fXHZ7s6I8Qq_xQTqi5i0kB97esAE</string>
	<key>GCM_SENDER_ID</key>
	<string>1055594561771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.reactnativecoin</string>
	<key>PROJECT_ID</key>
	<string>reactnative-coin</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnative-coin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055594561771:ios:5fef18488cbb0fc116feae</string>
</dict>
</plist>